@model IEnumerable<CRUD.Models.Usuario>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


0
<h1 class="text-center">CRUD Usuarios</h1>
<div class="row">
    <div class="col-12">
        <div class="float-right">
            <a asp-action="Create" asp-controller="Home" class="btn btn-success"><i class="fas fa-plus"></i> Nuevo Usuario </a>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <div class="card border">
            <div class="card-header">
                <h3><strong>Lista de usuarios</strong></h3>
            </div>
        </div>
    </div>
</div>